@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AskMate</h1>
    <p>Your go-to destination for quick answers - a comprehensive FAQ library at your fingertips.</p>
</div>
